.header {
  padding: 20px 0;
  border-bottom: 2px solid #000000;

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--active {
      color: #042bd8;
    }

    &:hover,
    &:focus {
      color: #042bd8;
    }
  }

  &__user {
    display: flex;
  }

  &__text {
    margin-right: 20px;
    font-size: 20px;
  }
}
