.header {
  padding: 15px 0;
  border-bottom: 2px solid #000000;
  background: #ffffff;

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--active {
      color: #042bd8;
    }

    &:hover,
    &:focus {
      color: #042bd8;
    }
  }

  &__user {
    position: relative;
    display: flex;
  }

  &__dropbox {
    position: relative;
    background-color: #f9f9f9;
    color: #0f0f0f;
    padding: 10px 32px 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content {
    position: absolute;
    bottom: -40px;
    left: 20%;
    z-index: 98;
  }

  .arrow {
    position: absolute;
    top: 13px;
    right: 15px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
}
